@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "media-queries.css";
@import "news.css";
@import "journey.css";
@import "destinations.css";


:root {
    --BG_Grad: -webkit-linear-gradient(#FF9958, #F9FF72);
    --BG_Grad2: linear-gradient(0deg, #181818 0%, rgba(24, 24, 24, 0.70) 64.38%, rgba(24, 24, 24, 0.00) 100%);
    --BG_PageGrad: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    --BShadow:  0px 8px 24px 0px rgba(75, 75, 75, 0.06), 0px 2px 4px 0px rgba(75, 75, 75, 0.02);
    --Outline: #181818 8px 8px 1px 0px, grey 8.5px 8.5px 1.5px 0px;
    --OutlineWhite: white 8px 8px 1px 0px, grey 8.5px 8.5px 1.5px 0px;
}

* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;

}

body {
    background: #181818;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
}

header.hero-section {
    background: #181818;
    width: 100%;
    box-sizing: border-box;
    color: white;
    border: none;
}

nav {
    display: flex;
    width: 100%;
    height: 104px;
    padding: 32px 96px 40px 96px;
    justify-content: space-between;
    align-items: flex-end;
    flex-shrink: 0;
    margin: 0;
}

ul.primary-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

section.hero-cta {
    display: flex;
    align-items: center;
}

ul.hero-text {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

h1.left-col {
    width: 420px;
    font-size: 96px;
    font-style: normal;
    flex-direction: column;
    font-weight: 500;
    text-align: left;
    margin-left: 96px;
    margin-right: auto;
}

select {
    display: flex;
    font-size: large;
    height: 72px;
    width: 288px;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 16px 16px 16px;
    background: var(--color-valge, #FFF);
    box-shadow: 0px 8px 24px 0px rgba(75, 75, 75, 0.06), 0px 2px 4px 0px rgba(75, 75, 75, 0.02);
    backdrop-filter: blur(5px);
}

input {
    display: inline-block;
    font-size: large;
    height: 72px;
    width: 288px;
    padding-left: 24px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 16px 16px 16px;
    background: #FFF;
    box-shadow: 0px 8px 24px 0px rgba(75, 75, 75, 0.06), 0px 2px 4px 0px rgba(75, 75, 75, 0.02);
    backdrop-filter: blur(5px);
}

label {
    color: #8B8595;
    font-family: Roboto, sans-serif;
    position: absolute;
    z-index: 1;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    padding: 5px 0px 0px 10px;
}

section.right-col {
    margin-top: 150px;
    margin-bottom: 166px;
    width: 400px;
    height: 480px;
    border-radius: 10px 16px 16px 16px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    box-shadow: var(--Outline);
}


img.cart {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    border-radius: 32px;
}

a.log {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 10px;
    text-decoration: none;
}

a.lang-selector {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

section.hero-box {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img.hero-img {
    position: absolute;
    width: 100%;
    margin-top: 847px;
}

ul.social-links {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-left: 64px;
    margin-right: 96px;
}

button.trip-button {
    width: 280px;
    height: 72px;
    border-radius: 0px 16px 16px 16px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background:#181818;
    box-shadow: var(--Outline);
}

p.trip-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin: 0;
    background: var(--BG_Grad);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


ul.forms {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 56px;
}

section.trip-border {
    position: absolute;
    top: 407px;
    right: 53px;
    width: 280px;
    height: 72px;
    border-radius: 0px 16px 16px 16px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    z-index: -1;
}

img.routeSwitch {
    position: absolute;
    width: 40px;
    margin-top: 60px;
    margin-left: 26px;
    height: 40px;
    z-index: 1;
}

section.scroll {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    background: #181818;
    width: 100%;
    flex-shrink: 0;
    border: solid 1px #181818;
    border-radius: 32px 32px 0px 0px;
}

img.footer-logo {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    height: 21.818px;
}

section.footer-content {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    column-gap: 200px;
    width: 100%;
    
}

section.footer-items {
    display: inline-flex;
    column-gap: 200px;
    margin-top: 292px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 110px;
}

section.footer-left-col {
    display: flex;
    column-gap: 24px;
}

section.footer-right-col {
    display: flex;
    column-gap: 24px;
}


li.footer-header {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    color: #FFF;
}

ul.footer-column {
    color: #FFF;
    height: 116px;
    gap: 4px;
}

li.phone-grad {
    background: var(--BG_Grad);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

li.email-grad {
    background: var(--BG_Grad);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

form.news {
    display: inline-flex;
    column-gap: 40px;
}

input.form-box {
    display: inline-block;
    font-size: large;
    height: 72px;
    width: 288px;
    padding-left: 24px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 16px 16px 16px;
    background: #FFF;
    box-shadow:var(--Outline);
}

button.subscribe-btn {
    height: 74px;
    width: 133px;
    padding: 16px 24px;
    gap: 8px;
    border-radius: 0px 16px 16px 16px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: var(--color-must, #181818);
    box-shadow: var(--Outline);
}

p.sub-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    background: var(--BG_Grad);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul.Terms {
    display: inline-flex;
    column-gap: 40px;
    margin-top: 190px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 25px;
    opacity: 0.3;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    background: var(--neutral-valge, var(--color-valge, #FFF));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul.footer-social {
    display: flex;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
}

section.big-ellipses {
    position: relative;
    bottom: 865px;
}

hr.circle1 {
    position: absolute;
    left: -201px;
    top: 777px;
    width: 495px;
    height: 495px;
    margin-right: 0px;
    border: 2px solid rgba(255, 255, 255, 0.10);
    border-radius: 25em;
}


hr.circle2 {
    position: absolute;
    left: -369px;
    top: 635px;
    width: 779px;
    height: 779px;
    margin-right: 0px;
    border: 2px solid rgba(255, 255, 255, 0.10);
    border-radius: 25em;
}

hr.circle3 {
    position: absolute;
    left: -343px;
    top: 635px;
    width: 779px;
    height: 779px;
    margin-right: 0px;
    border: 2px solid rgba(255, 255, 255, 0.10);
    border-radius: 25em;
}

hr.circle4 {
    position: absolute;
    left: -318px;
    top: 635px;
    width: 779px;
    height: 779px;
    margin-right: 0px;
    border: 2px solid rgba(255, 255, 255, 0.10);
    border-radius: 25em;
}

section.small-ellipses {
    position: relative;
    top: 110px;
}

hr.small-circle1 {
    position: absolute;
    right: -8px;
    bottom: 763px;
    width: 173px;
    height: 173px;
    margin-right: 0px;
    border: 2px solid rgba(255, 255, 255, 0.10);
    border-radius: 25em;
}


hr.small-circle2 {
    position: absolute;
    right: -66px;
    bottom: 714px;
    width: 273px;
    height: 272px;
    margin-right: 0px;
    border: 2px solid rgba(255, 255, 255, 0.10);
    border-radius: 25em;
}

hr.small-circle3 {
    position: absolute;
    right: -57px;
    bottom: 714px;
    width: 273px;
    height: 272px;
    margin-right: 0px;
    border: 2px solid rgba(255, 255, 255, 0.10);
    border-radius: 25em;
}

hr.small-circle4 {
    position: absolute;
    right: -48px;
    bottom: 714px;
    width: 273px;
    height: 272px;
    margin-right: 0px;
    border: 2px solid rgba(255, 255, 255, 0.10);
    border-radius: 25em;
}