@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;

}

body {
    background: #181818;
    margin: 0px;
    width: 100%;
    height: 4104px;
    box-sizing: border-box;
}

@media only screen and (min-width:320px) and (max-width:767px) {

    body {
        width: 100%;
        margin: 0;
    }

    header.hero-section {
        height: 625px !important;
        width: 100%;
    }

    img.header-logo {
        position: relative;
        left: -77px;
        transform: scale(0.7);
    }

    img.burger-menu {
        position: relative;
        right: -55px;
    }


    ul.hero-text {
    position: relative;
    left: -90px;
    gap: 20px !important;
    font-size: 33.7px !important;
    top: 20px !important;
    }

    h1.left-col {
        display: flex !important;
        position: relative !important;
        align-items: center !important;
        top: 102px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        padding: 0 !important;
        width: 147px;
    }

    section.right-column {
        transform: scale(0.65);
        position: relative;
        display: flex !important;
        top: 6px;
        right: 9px;
        align-items: center !important;
        margin-right: auto !important;
        margin-left: auto !important;
        justify-content: center !important;
    }

    section.landing-sec {
        transform: scale(0.8);
        top: 98px !important;
        left: 87px !important;
        display: flex !important;
        position: relative !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }


    ul.social-links {
        display: flex !important;
        flex-direction: row !important;
        top: 714px !important;
        right: 182px !important;
        justify-content: center;
        position: relative !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }


    li.lang , li.log-in , li.cart-nr , li.cart-img {
        display: none;
    }

    main.news {
        width: 100%;
    }

    section.news-columns {
        transform: scale(0.63);
        position: relative;
        top: -305px;
        left: -210px;
        align-items: center;
        display: flex;
        margin-left: auto;
        margin-right: auto;

    }

    article.article-1 {
        text-align: center !important;
        width: 320px !important;
    }

    img.chevron-btn1 {
        display: none !important;
    }

    section.news-img-sec {
        position: absolute;
    }

    section.mobile-line {
        position: absolute;
        top: 474px;
        transform: scale(0.64);
        left: 91px;
    }

    section.news-mobile-img {
        position: relative;
        top: 22px;
        transform: scale(0.8);
        left: 32px;
    }

    main.Your-journey {
        top: 878px !important;
    }
    img.journey-grad {
        width: 100%;
    }

    h2.journey-head {
        left: -3px !important;
    }

    p.sub-head-bus {
        top: 248px !important;
        left: 548px !important;
    }

    p.sub-head-train {
        top: 517px !important;
        left: 566px !important;
    }

    section.bus-tables {
        position: relative;
        left: -194px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    section.train-tables {
        position: relative;
        left: -212px !important;
        margin-left: auto !important;
        margin: auto !important;
    }

    tbody {
        transform: scale(0.65);
        left: 68px !important;
        top: 278px !important;
    }

    main.rec-destinations {
        top: 1713px !important;
        height: 964px !important;
    }

    h2.rec-header {
        top: 1728px !important;
        left: -70px !important;
        text-align: center;
        font-size: 22px !important;

    }
    ul.title {
        transform: scale(0.8);
        top: 1750px !important;
        left: -71px !important;
    }

    section.rec-chevrons {
        transform: scale(0.8);
        position: relative !important;
        top: 1146px !important;
        left: 15px !important;
        justify-content: center;
    }

    hr.line {
        top: 1750px !important;
        left: -74px !important;
        transform: scale(0.8);
    }

    hr.line-grad {
        top: 1944px !important;
        left: 74px !important;
    }

    ul.city-images {
        position: absolute;
        transform: scale(0.8);
        left: -53px !important;
        top: 90px !important;
    }

    section.page-grad {
        top: 1955px !important;
        width: 30px !important;
    }
    
    section.page-grad2 {
        top: 1955px !important;
        width: 30px !important;
    }

    footer {
        top: 320px !important;
    }

    section.center-footer {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        width: 1px;
    }

    section.footer-content {
        display: flex !important;
        position: relative !important;
        margin-left: auto !important;
        margin-right: auto !important;
        justify-content: center !important;
        left: 240px;
    }

    img.footer-logo {
        position: absolute;
        transform: scale(0.7);
        left: 121px !important;
        top: 284px !important;

    }

    section.footer-row1 {
        transform: scale(0.55) !important;
        flex-direction: column !important;
        right: 548px !important;
        top: -221px !important;
        position: relative !important;
        display: flex !important;
        justify-content: center !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }

    h4.footer-header1 {
        top: 200px !important;
    }

    ul.footer-column1 {
        left: 899px !important;
        top: 227px !important;
    }

    h4.footer-header2 {
        left: 563px !important;
        top: 264px !important;
    }

    ul.footer-column2 {
        left: 565px !important;
        top: 299px !important;
    }

    ul.footer-column3 {
        left: 884px !important;
        top: 381px !important;
    }

    h4.footer-header4 {
        top: -35px !important;
        left: 564px !important;
    }

    section.news-box {
        top: 98px !important;
        left: 334px !important;
    }

    section.footer-btn {
        position: absolute;
        top: 541px !important;
        left: 1020px !important;
    }


    section.sub-btn {
        top: 259px !important;
        left: -138px !important;
    }

    section.sub-box {
        top: 424px !important;
        left: 514px !important;
    }

    ul.Terms {
        position: absolute !important;
        left: -36px !important;
        transform: scale(0.7) !important;
        top: 305px !important;
    }

    ul.footer-social {
        position: absolute !important;
        left: -295px !important;
        transform: scale(0.7);
        top: 724px !important;
    }

    section.small-circle1 {
        transform: scale(0.6) !important;
        right: -98px !important;
    }
    section.small-circle2 {
        transform: scale(0.6) !important;
        right: -156px !important;
    }
    section.small-circle3 {
        transform: scale(0.6) !important;
        right: -147px !important;

    }
    section.small-circle4 {
        transform: scale(0.6) !important;
        right: -138px !important;
    }


    section.big-ellipses {
        position: absolute;
        transform: scale(0.7) !important;
        left: -23px !important;
        top: 258px !important;
    }

}

@media only screen and (max-width:768px) {
    body {
        height: 3000px;
    }

    h1.left-col {
        top: 44px;
        align-items: center;
        left: 88px;
    }

    section.right-column {
        margin-top: 200px;
    }

    ul.hero-text {
        text-align: center;
        font-size: 96px;
        line-height: 16px;
    }

    header.hero-section {
        margin-bottom: 440px;
        height: 700px;
    }

    section.hidden-column {
        display: none !important;
    }

    hr.line1 {
        rotate: 90deg;
        margin-left: -348px;
    }

    main.news {
        margin-bottom: 440px;
    }

    main.Your-journey {
        margin-bottom: 440px;
    }

    h2.journey-head {
        left: 150px;
    }

    tr.bLine1 {
        left: 400px;
        top: 60px;
    }

    tr.bLine2 {
        left: -24px;
        top: 202px;
    }

    tr.bLine3 {
        left: -451px;
        top: 343px;

    }

    p.sub-head-bus {
        position: relative;
        top: 100px;
        left: 529px;
    }

    p.sub-head-train {
        position: relative;
        top: 498px;
        left: 529px;
    }

    sub.train {
        position: relative;
        left: 300px;
    }

    tr.tLine1 {
        margin-left: 400px;
        margin-top: 470px;
    }

    tr.tLine2 {
        margin-left: -24px;
        margin-top: 612px;
    }

    tr.tLine3 {
        margin-left: -451px;
        margin-top: 754px;

    }

    tbody {
        top: 42px;
        left: 15px;
    }

    main.rec-destinations {
        top: 2380px;
    }

    h2.rec-header {
        top: 2400px;
        left: 97px;
    }

    ul.title {
        top: 2408px;
        right: -58px;
    }

    section.rec-chevrons {
        top: 2452px;
        margin-left: -35px;
    }

    hr.line {
        top: 2400px;
        left: -23px;
    }

    hr.line-grad {
        margin-top: 1500px;
        margin-left: -23px;
    }

    section.page-grad {
        margin-top: 1483px;
    }

    section.page-grad2 {
        margin-top: 1483px;
    }

    section.landing-sec {
        top: 500px;
        left: 189px;
    }

    img.scroll-icon {
        top: 450px;
    }


    footer {
        margin-top: 1500px;
    }

    section.footer-row1 {
        position: absolute;
        top: 89px;
        right: -334px;
        transform: scale(0.75);
    }

    section.sub-btn {
        position: absolute;
        top: 250px;
        right: 493px;
    }

    button.subscribe-btn {
        margin-top: -79px;
        margin-left: -147px;
    }

    section.subbox-outline {
        position: absolute;
        right: 503px;
        top: 103px;
    }

    section.footer-btn {
        right: 200px;
    }

    section.news-box {
        float: left;
    }

    ul.Terms {
        margin-top: 388px;
        margin-right: 107px;
        transform: scale(0.9);
    }

    ul.footer-column1 {
        text-align: start;
    }

    ul.footer-social {
        margin-left: 409px;
    }

    form.news {
        margin-top: 74px;
    }

    section.circle1 , section.circle2 , section.circle3 , section.circle4 {
        transform: scale(0.7);
    }

    section.small-circle1 , section.small-circle2 , section.small-circle3 , section.small-circle4 {
        transform: scale(0.7);
    }

}

header.hero-section {
    background: #181818;
    width: 100%;
    height: 900px;
    flex-shrink: 0;
    box-sizing: border-box;
    color: white;
    border: none;
}


nav {
    display: flex;
    width: 100%;
    height: 104px;
    padding: 32px 96px 40px 96px;
    justify-content: space-between;
    align-items: flex-end;
    flex-shrink: 0;
    margin: 0;
}

ul.primary-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (min-width: 1920px) {
    h1.left-col {
        margin-left: 200px;
    }
}

ul.hero-text {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

h1.left-col {
    display: inline-flex;
    font-size: 96px;
    font-style: normal;
    flex-direction: column;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
    padding-top: 254px;
    padding-left: 86px;
    margin: 0;
    position: absolute;
}


select {
    display: flex;
    font-size: large;
    height: 72px;
    width: 288px;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 16px 16px 16px;
    background: var(--color-valge, #FFF);
    box-shadow: 0px 8px 24px 0px rgba(75, 75, 75, 0.06), 0px 2px 4px 0px rgba(75, 75, 75, 0.02);
    backdrop-filter: blur(5px);
}

input {
    display: inline-block;
    font-size: large;
    height: 72px;
    width: 288px;
    padding-left: 24px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 16px 16px 16px;
    background: #FFF;
    box-shadow: 0px 8px 24px 0px rgba(75, 75, 75, 0.06), 0px 2px 4px 0px rgba(75, 75, 75, 0.02);
    backdrop-filter: blur(5px);
}

label {
    position: relative;
    color: #8B8595;
    font-family: Roboto, sans-serif;
    z-index: 1;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    right: -10px;
    top: 21px;
}

section.landing-sec {
    display: inline-flex;
    width: 400px;
    height: 513px;
    flex-shrink: 0;
    border-radius: 10px 16px 16px 16px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 176px;
    margin-top: 150px;
}

section.right-column {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
}

ul.right-col {
    display: inline-block;
    width: 400px;
    padding: 56px;
    position: relative;
    border-radius: 0px 16px 16px 16px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(27, 27, 27, 0.10);
    backdrop-filter: blur(12px);
    padding-bottom: 46px;
    margin-right: 16px;
    bottom: 5%;
    right: 4%;
}

img.cart {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    border-radius: 32px;
}

a.log {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 10px;
    text-decoration: none;
}

a.lang-selector {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

section.hero-box {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img.hero-img {
    position: absolute;
    width: 100%;
    margin-top: 606px;
}

ul.social-links {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding-right: 0;
    position: absolute;
    right: 96px;
    top: 425px;
}

button.trip-button {
    width: 280px;
    height: 72px;
    border-radius: 0px 16px 16px 16px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background:#181818;
}

p.trip-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin: 0;
    background: -webkit-linear-gradient(#FF9958, #F9FF72);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

li.dep-box {
    margin-bottom: 24px;
}

li.des-box {
    margin-bottom: 24px;
}

li.trip-box {
    margin-top: 24px;
}

section.trip-border {
    position: absolute;
    top: 407px;
    right: 53px;
    width: 280px;
    height: 72px;
    border-radius: 0px 16px 16px 16px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    z-index: -1;
}

img.routeSwitch {
    position: absolute;
    width: 40px;
    height: 40px;
    fill: rgba(255, 255, 255, 0.80);
    stroke-width: 1.5px;
    stroke: #8B8595;
    backdrop-filter: blur(3.5px);
    margin-top: 123px;
    margin-left: 70px;
    
}

img.scroll-icon {
    position: relative;
    margin-top: 720px;
}

section.scroll {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main.news{
    display: flex;
    position: absolute;
    width: 100%;
    height: 942px;
    border: solid 1px #181818;
    border-radius: 32px 32px 0px 0px;
    background-color:white;
    box-sizing: border-box;
}


@media only screen and (max-width:2256px) and (min-width:1441px){
    section.news-columns {
        display: block;
        width: 1440px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        
    }
}

@media only screen and (max-width: 2256px) {
    section.hidden {
        display: none;
    }
}

@media only screen and (max-width: 2559px) {
    hr.hidden-line {
        display: none;
    }
}


section.hidden {
    flex-direction: column;
    margin-left: 996px;
    margin-top: 97px;
    gap: 28px;
    width: 560px;
    height: 720px;
}

hr.hidden-line {
    position: absolute;
    width: 1px;
    height: 680px;
    top: 119px;
    right: 792px;
    background: #D4D4D4;
}

img.hidden-chevron-btn2 {
    position: absolute;
    top: 214px;
    margin-left: 504px;
}

img.hidden-chevron-btn3 {
    position: absolute;
    top: 424px;
    margin-left: 504px;
}

img.hidden-chevron-btn4 {
    position: absolute;
    top: 707px;
    margin-left: 504px;
}



article.hidden-3 {
    margin-top: 2px;
}

article.hidden-4 {
    margin-top: 40px;
}

hr.hidden-line2 {
    position: absolute;
    top: 17px;
    left: 1275px;
    rotate: 90deg;
    width: 1px;
    height: 560px;
    background: #D4D4D4;
}

hr.hidden-line3 {
    position: absolute;
    top: 247px;
    left: 1275px;
    rotate: 90deg;
    width: 1px;
    height: 560px;
    background: #D4D4D4;
}

hr.hidden-line4 {
    position: absolute;
    top: 532px;
    left: 1275px;
    rotate: 90deg;
    width: 1px;
    height: 560px;
    background: #D4D4D4;
}

h1.article-head {
    width: 480px;
    font-size: 32px;
    font-weight: 500;
    line-height: 36px;
}

p.read {
    width: 75px;
    height: 16px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}
p.place-text {
    width: 480px;
    height: 156px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #8B8595;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

p.img-name {
    display: block;
    position: absolute;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin-top: 745px;
    margin-left: 128px;
}

p.img-text {
    display: block;
    position: absolute;
    margin-top: 729px;
    margin-left: 546px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}

p.img-ftext {
    position: absolute;
    margin: 0;
    top: 729px;
    left: 582px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}

p.image-price {
    display: block;
    position: absolute;
    margin-top: 745px;
    margin-left: 564px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    background: -webkit-linear-gradient(#FF9958, #F9FF72);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

article.article-1 {
    width: 560px;
    height: 364px;
    margin-top: 97px;
    margin-left: 96px;
    position: absolute;
}

img.chevron-btn1 {
    position: absolute;
    top: 193px;
    left: 520px;
}
hr.line1 {
    position: absolute;
    width: 1px;
    height: 680px;
    top: 119px;
    left: 720px;
    background: #D4D4D4;
}

article.article-2 {
    display: block;
    width: 560px;
    height: 260px;
    margin-top: 97px;
    position: absolute;
    right: 96px;
}

img.chevron-btn2 {
    position: absolute;
    top: 334px;
    right: 36px;
}

hr.line2 {
    position: absolute;
    top: -80px;
    left: 280px;
    rotate: 90deg;
    width: 1px;
    height: 560px;
    background: #D4D4D4;
}

article.article-3 {
    display: block;
    width: 560px;
    height: 260px;
    margin-top: 344px;
    position: absolute;
    right: 96px;
}

img.chevron-btn3 {
    position: absolute;
    right: 36px;
    top: 370px;
}

hr.line3 {
    position: absolute;
    width: 1px;
    top: -97px;
    left: 280px;
    rotate: 90deg;
    width: 1px;
    height: 560px;
    background: #D4D4D4;
}

article.article-4 {
    display: block;
    width: 560px;
    height: 260px;
    margin-top: 592px;
    position: absolute;
    right: 96px;
}

img.chevron-btn4 {
    position: absolute;
    right: 36px;
    top: -373px;
}

hr.line4 {
    position: absolute;
    width: 1px;
    top: -60px;
    left: 280px;
    rotate: 90deg;
    width: 1px;
    height: 560px;
    background: #D4D4D4;
}

img.article-img {
    display: block;
    width: 546px;
    margin-left: 96px;
    position: absolute;
    margin-top: 501px;
    border-radius: var(--radius-radius-none, 0px) var(--radius-radius-sm, 16px) var(--radius-radius-sm, 16px) var(--radius-radius-sm, 16px);
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 8px 8px 16px 0px rgba(52, 52, 52, 0.05);
}

section.news-img-sec {
    display: block;
    width: 546px;
    height: 300px;
    margin-top: 512px;
    margin-left: 108px;
    border-radius: 0px 16px 16px 16px;
    border: 1px solid #C1BFBF;
    position: absolute;
}

section.news-gradient {
    display: block;
    width: 546px;
    height: 99px;
    position: absolute;
    margin-top: 702px;
    margin-left: 96px;
    border-radius: 0px 16px 16px 16px;
    background: linear-gradient(0deg, #181818 0%, rgba(24, 24, 24, 0.70) 64.38%, rgba(24, 24, 24, 0.00) 100%);
}

main.Your-journey {
    position: absolute;
    margin-top: 910px;
    background: #181818;
    color: white;
    width: 100%;
    height: 608px;
    border-radius: 32px 32px 0px 0px;
    border: solid 1px #181818;
}


section.bus-tables {
    padding: 0;
    margin-right: 333px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section.train-tables {
    padding: 0;
    margin-right: 333px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

table.bus-lines {
    position: relative;
}


table.train-lines {
    position: relative;
    top: 155px;
    right: -48px;
}

tbody {
    position: relative;
}

section.journey-img {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


img.journey-grad {
    position: absolute;
}

h2.journey-head {
    position: absolute;
    margin-top: 96px;
    margin-left: 96px;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

section.rec-chevrons {
    display: flex;
    flex-direction: row;
    gap: 32px;
    position: absolute;
    margin-top: 1567px;
    left: 85.5%;

}

p.chevron-border1 {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 40px;
    height: 40px;
    border-radius: 48px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: #EBE8E5;
}

p.chevron-border2 {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 40px;
    height: 40px;
    border-radius: 48px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: #181818;
}


sub.bus {
    display: block;
    position: relative;
    padding: 8px;
    top: 160px;
    left: -356px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

tr.bLine1 {
    display: block;
    position: absolute;
    border-radius: 0px 16px 16px 16px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(8px);
    width: 400px;
    height: 118px;
    margin-top: 204px;
    margin-left: -521px;

}
th.bus-time1 {
    color: #EBE8E5;
    display: block;
    position: absolute;
    margin-top: 32px;
    margin-left: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
}

th.bus-route1 {
    color: #EBE8E5;
    display: block;
    position: absolute;
    margin-top: 64px;
    margin-left: 24px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

th.bus-range1 {
    display: block;
    position: absolute;
    padding: 0px;
    margin-top: 32px;
    margin-left: 307px;
    color: #EBE8E5;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
}

th.bus-price1 {
    display: block;
    position: absolute;
    padding: 0px;
    margin-top: 64px;
    margin-left: 285px;
    color: #EBE8E5;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

tr.bLine2 {
    display: block;
    position: absolute;
    border-radius: 0px 16px 16px 16px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(8px);
    width: 400px;
    height: 118px;
    margin-top: 204px;
    margin-left: -98px;

}

th.bus-time2 {
    color: #EBE8E5;
    display: block;
    position: absolute;
    margin-top: 32px;
    margin-left: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
}

th.bus-route2 {
    color: #EBE8E5;
    display: block;
    position: absolute;
    margin-top: 64px;
    margin-left: 24px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

th.bus-range2 {
    display: block;
    position: absolute;
    padding: 0px;
    margin-top: 32px;
    margin-left: 307px;
    color: #EBE8E5;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
}

th.bus-price2 {
    display: block;
    position: absolute;
    padding: 0px;
    margin-top: 64px;
    margin-left: 298px;
    color: #EBE8E5;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

tr.bLine3 {
    display: block;
    position: absolute;
    border-radius: 0px 16px 16px 16px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(8px);
    width: 400px;
    height: 118px;
    margin-top: 204px;
    margin-left: 328px;

}

th.bus-time3 {
    color: #EBE8E5;
    display: block;
    position: absolute;
    margin-top: 32px;
    margin-left: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
}

th.bus-route3 {
    color: #EBE8E5;
    display: block;
    position: absolute;
    margin-top: 64px;
    margin-left: 24px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

th.bus-range3 {
    display: block;
    position: absolute;
    padding: 0px;
    margin-top: 32px;
    margin-left: 307px;
    color: #EBE8E5;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
}

th.bus-price3 {
    display: block;
    position: absolute;
    padding: 0px;
    margin-top: 64px;
    margin-left: 298px;
    color: #EBE8E5;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

sub.train {
    position: relative;
    padding: 8px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    left: -353px;
    top: 302px;
}

tr.tLine1 {
    display: block;
    position: absolute;
    border-radius: 0px 16px 16px 16px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(8px);
    width: 400px;
    height: 118px;
    top: 185px;
    left: -573px;

}

th.train-time1 {
    color: #EBE8E5;
    display: block;
    position: absolute;
    margin-top: 32px;
    margin-left: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
}

th.train-route1 {
    color: #EBE8E5;
    display: block;
    position: absolute;
    margin-top: 64px;
    margin-left: 24px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

th.train-range1 {
    display: block;
    position: absolute;
    padding: 0px;
    margin-top: 32px;
    margin-left: 307px;
    color: #EBE8E5;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
}

th.train-price1 {
    display: block;
    position: absolute;
    padding: 0px;
    margin-top: 64px;
    margin-left: 298px;
    color: #EBE8E5;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

tr.tLine2 {
    display: block;
    position: absolute;
    border-radius: 0px 16px 16px 16px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(8px);
    width: 400px;
    height: 118px;
    top: 185px;
    left: -149px;

}

th.train-time2 {
    color: #EBE8E5;
    display: block;
    position: absolute;
    margin-top: 32px;
    margin-left: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
}

th.train-route2 {
    color: #EBE8E5;
    display: block;
    position: absolute;
    margin-top: 64px;
    margin-left: 24px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

th.train-range2 {
    display: block;
    position: absolute;
    padding: 0px;
    margin-top: 32px;
    margin-left: 307px;
    color: #EBE8E5;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
}

th.train-price2 {
    display: block;
    position: absolute;
    padding: 0px;
    margin-top: 64px;
    margin-left: 298px;
    color: #EBE8E5;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

tr.tLine3 {
    display: block;
    position: absolute;
    border-radius: 0px 16px 16px 16px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(8px);
    width: 400px;
    height: 118px;
    top: 185px;
    left: 278px;

}


th.train-time3 {
    color: #EBE8E5;
    display: block;
    position: absolute;
    margin-top: 32px;
    margin-left: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
}

th.train-route3 {
    color: #EBE8E5;
    display: block;
    position: absolute;
    margin-top: 64px;
    margin-left: 24px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

th.train-range3 {
    display: block;
    position: absolute;
    padding: 0px;
    margin-top: 32px;
    margin-left: 307px;
    color: #EBE8E5;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
}

th.train-price3 {
    display: block;
    position: absolute;
    padding: 0px;
    margin-top: 64px;
    margin-left: 298px;
    color: #EBE8E5;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

main.rec-destinations {
    overflow-x: auto;
    width: 100%;
    height: 870px;
    flex-shrink: 0;
    position: absolute;
    background: #FFF;
    border-radius: 32px 32px 0px 0px;
    margin-top: 1496px;
}

section.city-cards {
    overflow-x: auto;
}

@media screen and (min-width: 1920px) {


    
}

h2.rec-header {
    position: absolute;
    margin-top: 1567px;
    margin-left: 96px;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

ul.title {
    position: absolute;
    display: flex;
    margin-top: 1666px;
    margin-left: 96px;
    margin-right: 96px;
    width: 85%;
    height: 24px;
    justify-content: space-between;
    align-items: flex-start;
}

hr.line {
    position: absolute;
    color: #eeecec;;
    margin-top: 1692px;
    margin-left: 96px;
    width: 86.5%;
    height: 4px;
    border: 4px solid;
    border-radius: 3em;
}

hr.line-grad {
    position: absolute;
    left: 96px;
    top: 2594px;
    width: 25%;
    height: 4px;
    border: 4px;
    border-radius: 3em;
    background: linear-gradient(154deg, #FF9958 0%, #F9FF72 100%);
}

img.card1 {
    position: absolute;
    left: 96px;
    top: 265px;
    box-shadow: 8px 8px 16px 0px rgba(52, 52, 52, 0.05);
}

section.card1-line {
    position: absolute;
    left: 108px;
    top: 274px;
    width: 340px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 0px 16px 16px 16px;
    border: 1px solid var(--grey-grey-3, #C1BFBF);
}

section.card1-grad {
    display: block;
    position: absolute;
    width: 340px;
    height: 99px;
    position: absolute;
    top: 668px;
    left: 96px;
    border-radius: 0px 16px 16px 16px;
    background: linear-gradient(0deg, #181818 0%, rgba(24, 24, 24, 0.70) 64.38%, rgba(24, 24, 24, 0.00) 100%);
}

ul.city-cards {
    display: flex;
    overflow-x: auto;
}

p.city1 {
    margin: 0;
    position: absolute;
    color: #FFF;
    top: 702px;
    left: 128px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;

}

p.city-text1 {
    position: absolute;
    margin: 0;
    top: 690px;
    left: 340px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}

p.city-ftext1 {
    position: absolute;
    margin: 0;
    top: 690px;
    left: 374px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}

p.city-price1 {
    position: absolute;
    margin: 0;
    top: 706px;
    left: 358px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    background: -webkit-linear-gradient(#FF9958, #F9FF72);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.card2 {
    position: absolute;
    left: 472px;
    top: 265px;
    box-shadow: 8px 8px 16px 0px rgba(52, 52, 52, 0.05);
}

section.card2-grad {
    display: block;
    position: absolute;
    width: 340px;
    height: 99px;
    position: absolute;
    top: 668px;
    left: 472px;
    border-radius: 0px 16px 16px 16px;
    background: linear-gradient(0deg, #181818 0%, rgba(24, 24, 24, 0.70) 64.38%, rgba(24, 24, 24, 0.00) 100%);
}

section.card2-line {
    position: absolute;
    left: 484px;
    top: 274px;
    width: 340px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 0px 16px 16px 16px;
    border: 1px solid var(--grey-grey-3, #C1BFBF);
}

p.city2 {
    margin: 0;
    position: absolute;
    color: #FFF;
    top: 702px;
    left: 504px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;

}

p.city-text2 {
    position: absolute;
    margin: 0;
    top: 690px;
    left: 716px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}

p.city-ftext2 {
    position: absolute;
    margin: 0;
    top: 690px;
    left: 752px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}

p.city-price2 {
    position: absolute;
    margin: 0;
    top: 706px;
    left: 726px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    background: -webkit-linear-gradient(#FF9958, #F9FF72);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.card3 {
    position: absolute;
    left: 848px;
    top: 265px;
    box-shadow: 8px 8px 16px 0px rgba(52, 52, 52, 0.05);
}

section.card3-grad {
    display: block;
    position: absolute;
    width: 340px;
    height: 99px;
    position: absolute;
    top: 668px;
    left: 848px;
    border-radius: 0px 16px 16px 16px;
    background: linear-gradient(0deg, #181818 0%, rgba(24, 24, 24, 0.70) 64.38%, rgba(24, 24, 24, 0.00) 100%);
}

section.card3-line {
    position: absolute;
    left: 860px;
    top: 274px;
    width: 340px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 0px 16px 16px 16px;
    border: 1px solid var(--grey-grey-3, #C1BFBF);
}

p.city3 {
    margin: 0;
    position: absolute;
    color: #FFF;
    top: 702px;
    left: 880px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;

}

p.city-text3 {
    position: absolute;
    margin: 0;
    top: 690px;
    left: 1092px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}

p.city-ftext3 {
    position: absolute;
    margin: 0;
    top: 690px;
    left: 1127px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}

p.city-price3 {
    position: absolute;
    margin: 0;
    top: 706px;
    left: 1110px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    background: -webkit-linear-gradient(#FF9958, #F9FF72);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.card4 {
    position: absolute;
    left: 1224px;
    top: 265px;
    box-shadow: 8px 8px 16px 0px rgba(52, 52, 52, 0.05);
}

section.card4-grad {
    display: block;
    position: absolute;
    width: 340px;
    height: 99px;
    position: absolute;
    top: 668px;
    left: 1224px;
    border-radius: 0px 16px 16px 16px;
    background: linear-gradient(0deg, #181818 0%, rgba(24, 24, 24, 0.70) 64.38%, rgba(24, 24, 24, 0.00) 100%);
}

section.card4-line {
    position: absolute;
    left: 1236px;
    top: 274px;
    width: 340px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 0px 16px 16px 16px;
    border: 1px solid var(--grey-grey-3, #C1BFBF);
}

p.city4 {
    margin: 0;
    position: absolute;
    color: #FFF;
    top: 702px;
    left: 1256px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;

}

p.city-text4 {
    position: absolute;
    margin: 0;
    top: 690px;
    left: 1468px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}

p.city-ftext4 {
    position: absolute;
    margin: 0;
    top: 690px;
    left: 1502px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}


p.city-price4 {
    position: absolute;
    margin: 0;
    top: 706px;
    left: 1479px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    background: -webkit-linear-gradient(#FF9958, #F9FF72);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.card5 {
    position: absolute;
    left: 1601px;
    top: 265px;
    box-shadow: 8px 8px 16px 0px rgba(52, 52, 52, 0.05);
}

section.card5-grad {
    display: block;
    position: absolute;
    width: 340px;
    height: 99px;
    position: absolute;
    top: 668px;
    left: 1601px;
    border-radius: 0px 16px 16px 16px;
    background: linear-gradient(0deg, #181818 0%, rgba(24, 24, 24, 0.70) 64.38%, rgba(24, 24, 24, 0.00) 100%);
}

p.city5 {
    margin: 0;
    position: absolute;
    color: #FFF;
    top: 702px;
    left: 1633px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

p.city-text5 {
    position: absolute;
    margin: 0;
    top: 690px;
    left: 1852px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}

p.city-ftext5 {
    position: absolute;
    margin: 0;
    top: 690px;
    left: 1887px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}


p.city-price5 {
    position: absolute;
    margin: 0;
    top: 706px;
    left: 1863px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    background: -webkit-linear-gradient(#FF9958, #F9FF72);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.card5-line {
    position: absolute;
    margin-left: 1613px;
    top: 274px;
    width: 340px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 0px 16px 16px 16px;
    border: 1px solid var(--grey-grey-3, #C1BFBF);
}

img.card6 {
    position: absolute;
    left: 1976px;
    top: 265px;
    box-shadow: 8px 8px 16px 0px rgba(52, 52, 52, 0.05);
}

p.city6 {
    margin: 0;
    position: absolute;
    color: #FFF;
    top: 702px;
    left: 2008px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

p.city-text6 {
    position: absolute;
    margin: 0;
    top: 690px;
    left: 2228px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}

p.city-ftext6 {
    position: absolute;
    margin: 0;
    top: 690px;
    left: 2262px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}


p.city-price6 {
    position: absolute;
    margin: 0;
    top: 706px;
    left: 2238px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    background: -webkit-linear-gradient(#FF9958, #F9FF72);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.card6-line {
    position: absolute;
    margin-left: 1988px;
    top: 274px;
    width: 340px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 0px 16px 16px 16px;
    border: 1px solid var(--grey-grey-3, #C1BFBF);
}

section.card6-grad {
    display: block;
    position: absolute;
    width: 340px;
    height: 99px;
    position: absolute;
    top: 668px;
    left: 1976px;
    border-radius: 0px 16px 16px 16px;
    background: linear-gradient(0deg, #181818 0%, rgba(24, 24, 24, 0.70) 64.38%, rgba(24, 24, 24, 0.00) 100%);
}

img.card7 {
    position: absolute;
    left: 2352px;
    top: 265px;
    box-shadow: 8px 8px 16px 0px rgba(52, 52, 52, 0.05);
}

section.card7-line {
    position: absolute;
    margin-left: 2364px;
    top: 274px;
    width: 340px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 0px 16px 16px 16px;
    border: 1px solid var(--grey-grey-3, #C1BFBF);
}

p.city7 {
    margin: 0;
    position: absolute;
    color: #FFF;
    top: 702px;
    left: 2384px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

p.city-price7 {
    position: absolute;
    margin: 0;
    top: 706px;
    left: 2614px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    background: -webkit-linear-gradient(#FF9958, #F9FF72);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.card7-grad {
    display: block;
    position: absolute;
    width: 340px;
    height: 99px;
    position: absolute;
    top: 668px;
    left: 2352px;
    border-radius: 0px 16px 16px 16px;
    background: linear-gradient(0deg, #181818 0%, rgba(24, 24, 24, 0.70) 64.38%, rgba(24, 24, 24, 0.00) 100%);
}

p.city-text7 {
    position: absolute;
    margin: 0;
    top: 690px;
    left: 2596px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}

p.city-ftext7 {
    position: absolute;
    margin: 0;
    top: 690px;
    left: 2630px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}

img.card8 {
    position: absolute;
    left: 2728px;
    top: 265px;
    box-shadow: 8px 8px 16px 0px rgba(52, 52, 52, 0.05);
}

section.card8-line {
    position: absolute;
    margin-left: 2740px;
    top: 274px;
    width: 340px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 0px 16px 16px 16px;
    border: 1px solid var(--grey-grey-3, #C1BFBF);
}

p.city8 {
    margin: 0;
    position: absolute;
    color: #FFF;
    top: 702px;
    left: 2760px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

p.city-price8 {
    position: absolute;
    margin: 0;
    top: 706px;
    left: 2990px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    background: -webkit-linear-gradient(#FF9958, #F9FF72);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.card8-grad {
    display: block;
    position: absolute;
    width: 340px;
    height: 99px;
    position: absolute;
    top: 668px;
    left: 2728px;
    border-radius: 0px 16px 16px 16px;
    background: linear-gradient(0deg, #181818 0%, rgba(24, 24, 24, 0.70) 64.38%, rgba(24, 24, 24, 0.00) 100%);
}

p.city-text8 {
    position: absolute;
    margin: 0;
    top: 690px;
    left: 2979px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}

p.city-ftext8 {
    position: absolute;
    margin: 0;
    top: 690px;
    left: 3013px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}

section.page-grad {
    position: absolute;
    right: 0px;
    top: 2651px;
    width: 96px;
    height: 513px;
    flex-shrink: 0;
    background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

section.page-grad2 {
    position: absolute;
    margin-left: 0px;
    top: 2651px;
    width: 96px;
    rotate: 180deg;
    height: 513px;
    flex-shrink: 0;
    background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

footer {
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    background: #181818;
    position: relative;
    top: 2317px;
    width: 100%;
    height: 876px;
    flex-shrink: 0;
    border: solid 1px #181818;
    border-radius: 32px 32px 0px 0px;
}

section.footer-content {
    margin: auto;
    padding: 10px;
    text-align: center;
    
}


@media screen and (min-width: 1920px) {
    
    footer {
        width: 100%;
    }
    
}

section.footer-row1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: -530px;
}


img.footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 21.818px;
    margin-top: -255px;
}

h4.footer-header1 {
    position: relative;
    margin: 0;
    top: 348px;
    left: 560px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    color: #FFF;
}

ul.footer-column1 {
    color: #FFF;
    position: relative;
    margin: 0;
    top: 389px;
    left: 476px;
    display: flex;
    height: 116px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    padding: 0px;
}

h4.footer-header2 {
    position: relative;
    margin: 0;
    top: 348px;
    left: 547px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    color: #FFF;
}

ul.footer-column2 {
    color: #FFF;
    position: relative;
    margin: 0;
    top: 389px;
    left: 451px;
    display: flex;
    height: 116px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    padding: 0px;
}

h4.footer-header3 {
    position: relative;
    margin: 0;
    top: 348px;
    left: 560px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    color: #FFF;
}

ul.footer-column3 {
    color: #FFF;
    position: relative;
    margin: 0;
    top: 389px;
    left: 476px;
    display: flex;
    height: 116px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    padding: 0px;
}

li.phone-grad {
    background: -webkit-linear-gradient(#FF9958, #F9FF72);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

li.email-grad {
    background: -webkit-linear-gradient(#FF9958, #F9FF72);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4.footer-header4 {
    position: relative;
    margin: 0;
    top: 348px;
    left: -84px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    color: #FFF;
}

form.news {
    position: relative;
    top: 331px;
    left: -198px;
}

section.news-box {
    position: relative;
    width: 280px;
    height: 74px;
    border-radius: 0px 16px 16px 16px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    margin-top: 413px;
    margin-left: 500px;
    left: 212px;
    padding: 16px 141px;
    top: 0px;
}

button.subscribe-btn {
    position: relative;
    top: -70px;
    left: 352px;
    display: flex;
    height: 74px;
    width: 133px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 0px 16px 16px 16px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: var(--color-must, #181818);
}

p.sub-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    background: var(--gradient, linear-gradient(154deg, #FF9958 0%, #F9FF72 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.sub-box {
    display: flex;
    width: 133px;
    height: 74px;
    padding: 16px 66px;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border-radius: 0px 16px 16px 16px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    top: 413px;
    left: 161px;
}

ul.Terms {
    position: relative;
    top: 200px;
    left: 49px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 40px;
    opacity: 0.30000001192092896;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    background: var(--neutral-valge, var(--color-valge, #FFF));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul.footer-social {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    top: 296px;
    left: -200px;
}


section.circle1 {
    position: absolute;
    left: -201px;
    top: 777.83px;
    width: 495.694px;
    height: 495.518px;
    margin-right: 0px;
    border: 2px solid rgba(255, 255, 255, 0.10);
    border-radius: 25em;
}


section.circle2 {
    position: absolute;
    left: -369.28px;
    top: 635px;
    width: 779.278px;
    height: 779px;
    margin-right: 0px;
    border: 2px solid rgba(255, 255, 255, 0.10);
    border-radius: 25em;
}

section.circle3 {
    position: absolute;
    left: -343px;
    top: 635px;
    width: 779.278px;
    height: 779px;
    margin-right: 0px;
    border: 2px solid rgba(255, 255, 255, 0.10);
    border-radius: 25em;
}

section.circle4 {
    position: absolute;
    left: -318px;
    top: 635px;
    width: 779.278px;
    height: 779px;
    margin-right: 0px;
    border: 2px solid rgba(255, 255, 255, 0.10);
    border-radius: 25em;
}

section.small-circle1 {
    position: absolute;
    right: -8px;
    bottom: 763.48px;
    width: 173.792px;
    height: 173.492px;
    margin-right: 0px;
    border: 2px solid rgba(255, 255, 255, 0.10);
    border-radius: 25em;
}


section.small-circle2 {
    position: absolute;
    right: -66px;
    bottom: 714.25px;
    width: 273.217px;
    height: 272.745px;
    margin-right: 0px;
    border: 2px solid rgba(255, 255, 255, 0.10);
    border-radius: 25em;
}

section.small-circle3 {
    position: absolute;
    right: -57px;
    bottom: 714.25px;
    width: 273.217px;
    height: 272.745px;
    margin-right: 0px;
    border: 2px solid rgba(255, 255, 255, 0.10);
    border-radius: 25em;
}

section.small-circle4 {
    position: absolute;
    right: -48px;
    bottom: 714.25px;
    width: 273.217px;
    height: 272.745px;
    margin-right: 0px;
    border: 2px solid rgba(255, 255, 255, 0.10);
    border-radius: 25em;
}