
main.news{
    display: flex;
    column-gap: 130px;
    width: 100%;
    height: 942px;
    border: solid 1px #181818;
    border-radius: 32px 32px 0px 0px;
    background-color:white;
}

h1.article-head {
    width: 480px;
    font-size: 32px;
    font-weight: 500;
    line-height: 36px;
}

p.read {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}

p.place-text {
    width: 480px;
    height: 156px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    color: #8B8595;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

img.chevron-btn {
    width: 22px;
    height: 22px;
}

p.img-name {
    display: block;
    margin-top: 244px;
    padding-left: 36px;
    position: absolute;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

p.img-text {
    display: blo;
    margin-top: 228px;
    margin-left: 450px;
    position: absolute;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}

p.image-price {
    display: block;
    margin-top: 244px;
    margin-left: 468px;
    position: absolute;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    background: var(--BG_Grad);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

article.article-left {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 560px;
    height: 364px;
    margin-top: 97px;
    margin-left: auto;
}

section.news-column {
    margin-top: 96px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

article.articles-right {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 560px;
    height: 220px;
    border-bottom: 1px solid #D4D4D4;;
}

img.article-img {
    display: block;
    width: 546px;
    border-radius: var(--radius-radius-none, 0px) var(--radius-radius-sm, 16px) var(--radius-radius-sm, 16px) var(--radius-radius-sm, 16px);
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: var(--OutlineWhite);
}

section.news-gradient {
    display: block;
    width: 546px;
    height: 99px;
    position: absolute;
    margin-top: 201px;
    border-radius: 0px 16px 16px 16px;
    background:  var(--BG_Grad2);
}