@use "../SCSS/partials/header";
@use "../SCSS/partials/news";
@use "../SCSS/partials/journey";
@use "../SCSS/partials/destinations";
@use "../SCSS/partials/footer";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --BG_Grad: -webkit-linear-gradient(#FF9958, #F9FF72);
    --BG_Grad2: linear-gradient(0deg, #181818 0%, rgba(24, 24, 24, 0.70) 64.38%, rgba(24, 24, 24, 0.00) 100%);
    --BG_PageGrad: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    --BShadow:  0px 8px 24px 0px rgba(75, 75, 75, 0.06), 0px 2px 4px 0px rgba(75, 75, 75, 0.02);
    --Outline: #181818 8px 8px 1px 0px, grey 8.5px 8.5px 0px 0px;
    --OutlineWhite: white 8px 8px 1px 0px, grey 8.5px 8.5px 0px 0px;
    --color-valge: #FFF;
    --color-must: #181818;
}

* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background: var(--color-must);

    ul {
        list-style-type: none;
    }
    a {
        text-decoration: none;
    }

}
