.hero-section {
    background: var(--color-must);

    .top-nav-bar {
        color: var(--color-valge);
        display: flex;
        width: 100%;
        padding: 32px 10% 40px 10%;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        margin: 0;

        .primary-nav {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 24px;

            .cart-link {
                display: flex;
                color: white;
                align-items: flex-start;
                gap: 4px;
                border-radius: 32px;
            }
            .log {
                display: flex;
                align-items: flex-start;
                gap: 4px;
                color: var(--color-valge);
                font-size: 16px;
                font-weight: 600;
                line-height: 10px;
            }
            .lang-selector {
                display: flex;
                align-items: flex-start;
                gap: 4px;
                color: var(--color-valge);
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
            }
            .cart-img, .cart-nr, .log-in, .lang {
                @media (max-width:1109px) {
                    display: none;
                }
            }
        }
    }
    .hero-box {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .hero-img {
            position: absolute;
            width: 100%;
            margin-top: 847px;
        }
    }
    .hero-cta {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .left-col {
            color: var(--color-valge);
            width: 420px;
            font-size: 96px;
            flex-direction: column;
            font-weight: 500;
            text-align: left;
            margin-left: 96px;
            margin-right: auto;
        
            @media (max-width:1109px) {
                margin: 0;
                text-align: center;
                flex-shrink: 1;
            }
        }
        .right-col {
            margin-top: 150px;
            margin-bottom: 166px;
            border-radius: 10px 16px 16px 16px;
            border: 1px solid rgba(255, 255, 255, 0.30);
            box-shadow: var(--Outline);
            .forms {
                display: flex;
                flex-direction: column;
                row-gap: 24px;
                padding: 56px;
            
                label {
                    color: #8B8595;
                    position: absolute;
                    z-index: 1;
                    font-size: 14px;
                    font-weight: 300;
                    padding: 5px 0px 0px 10px;
                }

                select, input {
                    display: inline-block;
                    font-size: large;
                    height: 72px;
                    width: 288px;
                    padding: 24px;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 0px 16px 16px 16px;
                    background: var(--color-valge);
                    box-shadow: 0px 8px 24px 0px rgba(75, 75, 75, 0.06), 0px 2px 4px 0px rgba(75, 75, 75, 0.02);
                    backdrop-filter: blur(5px);
                }

                img.routeSwitch {
                    position: absolute;
                    width: 40px;
                    margin-top: 60px;
                    margin-left: 26px;
                    height: 40px;
                    z-index: 1;
                }

                .trip-button {
                    width: 280px;
                    height: 72px;
                    border-radius: 0px 16px 16px 16px;
                    border: 1px solid rgba(255, 255, 255, 0.30);
                    background: var(--color-must);
                    box-shadow: var(--Outline);

                    .trip-text {
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 32px;
                        margin: 0;
                        background: var(--BG_Grad);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        
            @media (max-width:1109px) {
                    margin: 50px 0px;
            }
        }
    
        @media screen and (max-width:1109px) {
                flex-direction: column;
                justify-content: center;
        }

        .social-links {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            margin-left: 64px;
            margin-right: 96px;
        
            @media (max-width:1109px) {
                    display: flex;
                    flex-direction: row;
                    margin: 0;
            }
        }
    }

    .scroll {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
