main.Your-journey {
    background: var(--color-must);
    margin-top: -36px;
    color: var(--color-valge);
    width: 100%;
    border-radius: 32px 32px 0px 0px;
    border: solid 1px var(--color-must);

    .journey-img {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .journey-grad {
            position: absolute;
        }
    }

    .journey-head {
        margin-top: 96px;
        margin-left: 96px;
        font-size: 32px;
        font-weight: 500;
        line-height: 36px;
    }

    .sub-head {
        display: flex;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;

        .sub-head-bus {
            margin-top: 20px;
        }

        .sub-head-train {
            padding: 20px 0px 0px 0px;
        }
    }

    .bus-tables {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .train-tables {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 50px;
    }
    
    tbody {
        display: flex;
        flex-direction: row;
        column-gap: 24px;
    
        @media screen and (max-width: 1360px) {
            flex-direction: column;
            margin-bottom: 50px;
        }
    }

    
    .line {
        display: grid;
        grid-template-columns: 2fr 1fr;
        border-radius: 0px 16px 16px 16px;
        border: 1px solid rgba(255, 255, 255, 0.10);
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(8px);
        width: 400px;
        margin-top: 20px;
    }
    
    .time {
        color: var(--color-valge);
        display: flex;
        padding-top: 36px;
        padding-left: 24px;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
    }
    
    .route {
        color: var(--color-valge);
        display: flex;
        padding-bottom: 36px;
        padding-left: 24px;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
    }
    
    .range {
        display: flex;
        flex-direction: row-reverse;
        padding-top: 36px;
        padding-right: 24px;
        color: var(--color-valge);
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
    }
    
    .price {
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 36px;
        padding-right: 24px;
        color: var(--color-valge);
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
    }
}