
.news{
    display: flex;
    column-gap: 130px;
    border: solid 1px var(--color-must);
    border-radius: 32px 32px 0px 0px;
    background-color: var(--color-valge);

    .article-left {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        margin-top: 97px;
        margin-bottom: 96px;
        margin-left: auto;
    
        @media (max-width: 1360px) {
            margin-right: auto;
        }
        @media (max-width: 768px) {
            padding: 0 96px;
            margin-top: 56px;
        }
        @media (max-width: 600px) {
            padding: 0 46px;

        }
    }

    .article-head {
        width: 480px;
        font-size: 32px;
        font-weight: 500;


        @media (max-width: 700px) {
            width: 85%;
            font-size: 22px;
        }

        @media (max-width: 447px) {
            font-size: 18px;
        }

        @media (max-width: 382px) {
            font-size: 16px;
        }
    }
    
    .read {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 300;
        line-height: 16px;

        .chevron-btn {
            width: 22px;
            height: 22px;

            @media (max-width: 768px) {
                width: 16px;
                height: 16px;
            }
        }

        @media (max-width: 768px) {
            font-size: 2vw;
        }
    }

    .place-text {
        width: 480px;
        display: flex;
        flex-direction: row;
        font-size: 16px;
        color: #8B8595;
        font-weight: 400;

        @media (max-width: 768px) {
            width: 85%;
            font-size: 2vw;
        }
    }

    .news-gradient {
        display: block;
        width: 546px;
        height: 99px;
        position: absolute;
        margin-top: 201px;
        border-radius: 0px 16px 16px 16px;
        background:  var(--BG_Grad2);
    }

    .img-name {
        display: block;
        margin-top: 244px;
        padding-left: 36px;
        position: absolute;
        color: var(--color-valge);
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
    }
    
    .img-text {
        display: block;
        margin-top: 228px;
        margin-left: 450px;
        position: absolute;
        color: var(--color-valge);
        font-size: 14px;
        font-weight: 300;
        line-height: 16px;
    }
    
    .image-price {
        display: block;
        margin-top: 244px;
        margin-left: 468px;
        position: absolute;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        background: var(--BG_Grad);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .article-img {
        display: flex;
        width: 100%;
        border-radius: 0px 16px 16px 16px;
        box-shadow: var(--OutlineWhite);

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    .news-column-hidden {
        margin-right: auto;

        .news-column {
            margin-top: 96px;
            margin-bottom: 98px;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            row-gap: 24px;

            .articles-right {
                display: flex;
                flex-direction: column;
                row-gap: 24px;
                width: 560px;
                height: 220px;
                border-bottom: 1px solid #D4D4D4;;
            }
        }
    
        @media (max-width: 1360px) {
            display: none;
        }
    }
}