@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: Roboto, sans-serif;
  font-style: normal;
}

.hero-section {
  background: var(--color-must);
}
.hero-section .top-nav-bar {
  color: var(--color-valge);
  display: flex;
  width: 100%;
  padding: 32px 10% 40px 10%;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin: 0;
}
.hero-section .top-nav-bar .header-logo {
  width: 100px;
  height: auto;
}
@media (max-width: 595px) {
  .hero-section .top-nav-bar .header-logo {
    width: 75px;
    height: auto;
  }
}
.hero-section .top-nav-bar .primary-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}
.hero-section .top-nav-bar .primary-nav .cart-link {
  display: flex;
  color: white;
  align-items: flex-start;
  gap: 4px;
  border-radius: 32px;
}
.hero-section .top-nav-bar .primary-nav .log {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  color: var(--color-valge);
  font-size: 16px;
  font-weight: 600;
  line-height: 10px;
}
.hero-section .top-nav-bar .primary-nav .lang-selector {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  color: var(--color-valge);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
@media (max-width: 1109px) {
  .hero-section .top-nav-bar .primary-nav .cart-img, .hero-section .top-nav-bar .primary-nav .cart-nr, .hero-section .top-nav-bar .primary-nav .log-in, .hero-section .top-nav-bar .primary-nav .lang {
    display: none;
  }
}
.hero-section .hero-box {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-section .hero-box .hero-img {
  position: absolute;
  width: 100%;
  margin-top: 847px;
}
.hero-section .hero-cta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.hero-section .hero-cta .left-col {
  color: var(--color-valge);
  width: 420px;
  font-size: 96px;
  flex-direction: column;
  font-weight: 500;
  text-align: left;
  margin-left: 96px;
  margin-right: auto;
}
@media (max-width: 1109px) {
  .hero-section .hero-cta .left-col {
    margin: 0;
    text-align: center;
    flex-shrink: 1;
  }
}
@media (max-width: 595px) {
  .hero-section .hero-cta .left-col {
    font-size: 79px;
  }
}
@media (max-width: 450px) {
  .hero-section .hero-cta .left-col {
    font-size: 69px;
    width: 320px;
  }
}
@media (max-width: 390px) {
  .hero-section .hero-cta .left-col {
    font-size: 55px;
    width: 290px;
  }
}
.hero-section .hero-cta .right-col {
  margin-top: 150px;
  margin-bottom: 166px;
  border-radius: 10px 16px 16px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: var(--Outline);
}
.hero-section .hero-cta .right-col .forms {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 56px;
}
.hero-section .hero-cta .right-col .forms label {
  color: #8B8595;
  position: absolute;
  z-index: 1;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 0px 0px 10px;
}
@media (max-width: 390px) {
  .hero-section .hero-cta .right-col .forms label {
    font-size: 12px;
  }
}
.hero-section .hero-cta .right-col .forms select, .hero-section .hero-cta .right-col .forms input {
  display: inline-block;
  font-size: large;
  height: 72px;
  width: 288px;
  padding: 0px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 16px 16px 16px;
  background: var(--color-valge);
  box-shadow: 0px 8px 24px 0px rgba(75, 75, 75, 0.06), 0px 2px 4px 0px rgba(75, 75, 75, 0.02);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
@media (max-width: 500px) {
  .hero-section .hero-cta .right-col .forms select, .hero-section .hero-cta .right-col .forms input {
    width: 244px;
    height: 62px;
  }
}
@media (max-width: 450px) {
  .hero-section .hero-cta .right-col .forms select, .hero-section .hero-cta .right-col .forms input {
    width: 222px;
    height: 62px;
  }
}
@media (max-width: 390px) {
  .hero-section .hero-cta .right-col .forms select, .hero-section .hero-cta .right-col .forms input {
    width: 200px;
    height: 58px;
    font-size: medium;
  }
}
.hero-section .hero-cta .right-col .forms img.routeSwitch {
  position: absolute;
  width: 40px;
  margin-top: 60px;
  margin-left: 26px;
  height: 40px;
  z-index: 1;
}
@media (max-width: 500px) {
  .hero-section .hero-cta .right-col .forms img.routeSwitch {
    margin-top: 55px;
    width: 35px;
    height: 35px;
  }
}
.hero-section .hero-cta .right-col .forms .trip-button {
  width: 280px;
  height: 72px;
  border-radius: 0px 16px 16px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: var(--color-must);
  box-shadow: var(--Outline);
}
.hero-section .hero-cta .right-col .forms .trip-button .trip-text {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
  background: var(--BG_Grad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 390px) {
  .hero-section .hero-cta .right-col .forms .trip-button .trip-text {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .hero-section .hero-cta .right-col .forms .trip-button {
    width: 244px;
    height: 62px;
  }
}
@media (max-width: 450px) {
  .hero-section .hero-cta .right-col .forms .trip-button {
    width: 222px;
    height: 52px;
  }
}
@media (max-width: 390px) {
  .hero-section .hero-cta .right-col .forms .trip-button {
    width: 200px;
    height: 58px;
  }
}
@media (max-width: 425px) {
  .hero-section .hero-cta .right-col .forms {
    padding: 56px 46px;
  }
}
@media (max-width: 390px) {
  .hero-section .hero-cta .right-col .forms {
    padding: 45px 35px;
  }
}
@media (max-width: 1109px) {
  .hero-section .hero-cta .right-col {
    margin: 50px 0px;
  }
}
@media screen and (max-width: 1109px) {
  .hero-section .hero-cta {
    flex-direction: column;
    justify-content: center;
  }
}
.hero-section .hero-cta .social-links {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-left: 64px;
  margin-right: 96px;
}
.hero-section .hero-cta .social-links img {
  height: 32px;
  width: auto;
}
@media (max-width: 390px) {
  .hero-section .hero-cta .social-links img {
    height: 28px;
  }
}
@media (max-width: 1109px) {
  .hero-section .hero-cta .social-links {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
}
.hero-section .scroll {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.hero-section .scroll .scroll-icon {
  height: 39px;
  width: 20px;
}
@media (max-width: 390px) {
  .hero-section .scroll .scroll-icon {
    height: 29px;
    width: 15px;
  }
}

.news {
  display: flex;
  -moz-column-gap: 130px;
       column-gap: 130px;
  border: solid 1px var(--color-must);
  border-radius: 32px 32px 0px 0px;
  background-color: var(--color-valge);
}
.news .article-left {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-top: 97px;
  margin-bottom: 165px;
  margin-left: auto;
}
@media (max-width: 1360px) {
  .news .article-left {
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  .news .article-left {
    padding: 0 46px;
    margin-top: 56px;
    align-items: center;
  }
}
.news .article-head {
  width: 480px;
  font-size: 32px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .news .article-head {
    width: 85%;
    font-size: 22px;
  }
}
@media (max-width: 447px) {
  .news .article-head {
    font-size: 18px;
  }
}
.news .read {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
}
.news .read .chevron-btn {
  width: 22px;
  height: 22px;
}
@media (max-width: 768px) {
  .news .read .chevron-btn {
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 768px) {
  .news .read {
    font-size: 10px;
    width: 85%;
  }
}
.news .place-text {
  width: 480px;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  color: #8B8595;
  font-weight: 400;
}
@media (max-width: 768px) {
  .news .place-text {
    width: 85%;
    font-size: 16px;
  }
}
@media (max-width: 447px) {
  .news .place-text {
    font-size: 10px;
  }
}
.news .news-image {
  width: 546px;
}
.news .news-image .news-gradient {
  display: flex;
  width: 100%;
  height: 99px;
  position: relative;
  top: 240px;
  border-radius: 0px 16px 16px 16px;
  background: var(--BG_Grad2);
}
@media (max-width: 750px) {
  .news .news-image .news-gradient {
    top: 190px;
  }
}
@media (max-width: 550px) {
  .news .news-image .news-gradient {
    height: 80px;
    top: 140px;
  }
}
@media (max-width: 460px) {
  .news .news-image .news-gradient {
    height: 60px;
    top: 90px;
  }
}
@media (max-width: 370px) {
  .news .news-image .news-gradient {
    height: 60px;
    top: 70px;
  }
}
.news .news-image .img-name {
  display: flex;
  margin-top: -56px;
  padding-left: 36px;
  position: relative;
  color: var(--color-valge);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
@media (max-width: 550px) {
  .news .news-image .img-name {
    font-size: 20px;
  }
}
@media (max-width: 460px) {
  .news .news-image .img-name {
    padding-left: 26px;
    margin-top: -40px;
    font-size: 18px;
  }
}
@media (max-width: 370px) {
  .news .news-image .img-name {
    padding-left: 20px;
    font-size: 15px;
    margin-top: -30px;
  }
}
.news .news-image .img-text {
  display: flex;
  justify-content: flex-end;
  margin-top: -48px;
  margin-right: 24px;
  position: relative;
  color: var(--color-valge);
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
}
@media (max-width: 460px) {
  .news .news-image .img-text {
    font-size: 12px;
    margin-top: -43px;
  }
}
@media (max-width: 370px) {
  .news .news-image .img-text {
    font-size: 12px;
  }
}
.news .news-image .image-price {
  display: flex;
  justify-content: flex-end;
  margin-right: 24px;
  position: relative;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  background: var(--BG_Grad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 550px) {
  .news .news-image .image-price {
    font-size: 20px;
  }
}
@media (max-width: 460px) {
  .news .news-image .image-price {
    font-size: 17px;
    margin-top: -5px;
  }
}
.news .news-image .article-img {
  margin-top: -60px;
  display: flex;
  width: 546px;
  border-radius: 0px 16px 16px 16px;
  box-shadow: var(--OutlineWhite);
}
@media (max-width: 750px) {
  .news .news-image .article-img {
    width: 455px;
  }
}
@media (max-width: 550px) {
  .news .news-image .article-img {
    width: 364px;
  }
}
@media (max-width: 460px) {
  .news .news-image .article-img {
    width: 273px;
  }
}
@media (max-width: 370px) {
  .news .news-image .article-img {
    width: 225px;
  }
}
@media (max-width: 750px) {
  .news .news-image {
    width: 455px;
  }
}
@media (max-width: 550px) {
  .news .news-image {
    width: 364px;
  }
}
@media (max-width: 460px) {
  .news .news-image {
    width: 273px;
  }
}
@media (max-width: 370px) {
  .news .news-image {
    width: 225px;
  }
}
.news .news-column-hidden {
  margin-right: auto;
}
.news .news-column-hidden .news-column {
  margin-top: 96px;
  margin-bottom: 98px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.news .news-column-hidden .news-column .articles-right {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 560px;
  height: 220px;
  border-bottom: 1px solid #D4D4D4;
}
@media (max-width: 1360px) {
  .news .news-column-hidden {
    display: none;
  }
}

main.Your-journey {
  background: var(--color-must);
  margin-top: -36px;
  color: var(--color-valge);
  width: 100%;
  border-radius: 32px 32px 0px 0px;
  border: solid 1px var(--color-must);
}
main.Your-journey .journey-img {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main.Your-journey .journey-img .journey-grad {
  position: absolute;
}
@media (max-width: 580px) {
  main.Your-journey .journey-img .journey-grad {
    width: 100%;
  }
}
main.Your-journey .journey-head {
  margin-top: 96px;
  margin-left: 96px;
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
}
@media (max-width: 1120px) {
  main.Your-journey .journey-head {
    display: flex;
    justify-content: center;
    margin-left: 0px;
  }
}
@media (max-width: 400px) {
  main.Your-journey .journey-head {
    margin-top: 76px;
    font-size: 28px;
  }
}
main.Your-journey .sub-head {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
main.Your-journey .sub-head .sub-head-bus {
  margin-top: 20px;
}
main.Your-journey .sub-head .sub-head-train {
  padding: 20px 0px 0px 0px;
}
main.Your-journey .bus-tables {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main.Your-journey .train-tables {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
main.Your-journey tbody {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media screen and (max-width: 1360px) {
  main.Your-journey tbody {
    flex-direction: column;
    margin-bottom: 50px;
  }
}
main.Your-journey .line {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 0px 16px 16px 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  width: 400px;
  margin-top: 20px;
}
@media (max-width: 475px) {
  main.Your-journey .line {
    width: 350px;
  }
}
@media (max-width: 400px) {
  main.Your-journey .line {
    width: 290px;
  }
}
main.Your-journey .time {
  color: var(--color-valge);
  display: flex;
  padding-top: 36px;
  padding-left: 24px;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}
@media (max-width: 475px) {
  main.Your-journey .time {
    font-size: 12px;
    padding-top: 26px;
  }
}
main.Your-journey .route {
  color: var(--color-valge);
  display: flex;
  padding-bottom: 36px;
  padding-left: 24px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
@media (max-width: 475px) {
  main.Your-journey .route {
    font-size: 20px;
    padding-bottom: 26px;
  }
}
@media (max-width: 400px) {
  main.Your-journey .route {
    font-size: 16px;
    padding-bottom: 16px;
  }
}
main.Your-journey .range {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 36px;
  padding-right: 24px;
  color: var(--color-valge);
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}
@media (max-width: 475px) {
  main.Your-journey .range {
    font-size: 12px;
    padding-top: 26px;
  }
}
main.Your-journey .price {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 36px;
  padding-right: 24px;
  color: var(--color-valge);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
@media (max-width: 475px) {
  main.Your-journey .price {
    font-size: 22px;
    padding-bottom: 26px;
  }
}
@media (max-width: 400px) {
  main.Your-journey .price {
    font-size: 16px;
    padding-bottom: 16px;
  }
}

.rec-destinations {
  width: 100%;
  background: var(--color-valge);
  border-radius: 32px 32px 0px 0px;
}
.rec-destinations .rec-header {
  padding-top: 56px;
  padding-left: 96px;
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
}
@media (max-width: 1120px) {
  .rec-destinations .rec-header {
    display: flex;
    justify-content: center;
    padding-left: 0px;
  }
}
@media (max-width: 425px) {
  .rec-destinations .rec-header {
    font-size: 28px;
    justify-content: center;
  }
}
@media (max-width: 350px) {
  .rec-destinations .rec-header {
    font-size: 28px;
    text-align: center;
  }
}
.rec-destinations section.rec-chevrons {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  justify-content: flex-end;
  margin-right: 7%;
  gap: 32px;
}
.rec-destinations section.rec-chevrons .chevron-border1 {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 40px;
  height: 40px;
  border-radius: 48px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #EBE8E5;
}
@media (max-width: 425px) {
  .rec-destinations section.rec-chevrons .chevron-border1 {
    width: 30px;
    height: 30px;
  }
}
.rec-destinations section.rec-chevrons .chevron-border2 {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 40px;
  height: 40px;
  border-radius: 48px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: var(--color-must);
}
@media (max-width: 425px) {
  .rec-destinations section.rec-chevrons .chevron-border2 {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 425px) {
  .rec-destinations section.rec-chevrons {
    gap: 18px;
  }
}
.rec-destinations .title {
  display: flex;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: 24px;
  justify-content: space-between;
  align-items: flex-start;
}
.rec-destinations .line {
  color: #eeecec;
  margin-left: auto;
  margin-right: auto;
  width: 86.5%;
  height: 4px;
  border: 4px solid;
  border-radius: 3em;
}
.rec-destinations .line-grad {
  margin-top: -6px;
  margin-left: 96px;
  width: 25%;
  height: 4px;
  border: 4px;
  border-radius: 3em;
  background: linear-gradient(154deg, #FF9958 0%, #F9FF72 100%);
}
.rec-destinations .city-cards {
  overflow-x: auto;
  display: flex;
}
.rec-destinations .city-cards::-webkit-scrollbar {
  display: none;
}
.rec-destinations .city-cards .city-images {
  display: flex;
  flex-direction: row;
  gap: 36px;
  margin-left: 96px;
  margin-right: 96px;
  margin-top: 40px;
}
.rec-destinations .city-cards .city-images .card {
  box-shadow: var(--OutlineWhite);
  border-radius: 0px 16px 16px;
}
@media (max-width: 390px) {
  .rec-destinations .city-cards .city-images .card {
    width: 272px;
    height: 400px;
  }
}
.rec-destinations .city-cards .city-images .card-grad {
  display: block;
  position: relative;
  width: 340px;
  height: 99px;
  top: -100px;
  border-radius: 0px 16px 16px 16px;
  background: var(--BG_Grad2);
}
@media (max-width: 390px) {
  .rec-destinations .city-cards .city-images .card-grad {
    width: 272px;
  }
}
.rec-destinations .city-cards .city-images .city {
  display: flex;
  position: relative;
  margin-top: -151px;
  color: var(--color-valge);
  left: 18px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
@media (max-width: 390px) {
  .rec-destinations .city-cards .city-images .city {
    font-size: 20px;
  }
}
.rec-destinations .city-cards .city-images .city-text {
  display: flex;
  position: relative;
  margin-top: 138px;
  top: -180px;
  margin-left: 250px;
  color: var(--color-valge);
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
}
@media (max-width: 390px) {
  .rec-destinations .city-cards .city-images .city-text {
    font-size: 12px;
    margin-left: 193px;
  }
}
.rec-destinations .city-cards .city-images .city-price {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  top: -180px;
  margin-right: 24px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  background: var(--BG_Grad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 390px) {
  .rec-destinations .city-cards .city-images .city-price {
    font-size: 22px;
  }
}
@media (max-width: 425px) {
  .rec-destinations .city-cards .city-images {
    margin-left: 26px;
    gap: 28px;
  }
}

footer {
  display: flex;
  margin-top: -30px;
  overflow: hidden;
  box-sizing: border-box;
  background: var(--color-must);
  width: 100%;
  flex-shrink: 0;
  border: solid 1px var(--color-must);
  border-radius: 32px 32px 0px 0px;
}
footer .footer-content {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  -moz-column-gap: 200px;
       column-gap: 200px;
  width: 100%;
}
footer .footer-content .footer-logo {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  height: auto;
}
@media (max-width: 660px) {
  footer .footer-content .footer-logo {
    width: 75px;
    height: auto;
  }
}
footer .footer-content .footer-items {
  display: inline-flex;
  -moz-column-gap: 200px;
       column-gap: 200px;
  padding-top: 292px;
  margin-left: auto;
  margin-right: auto;
}
footer .footer-content .footer-items .footer-left-col {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
footer .footer-content .footer-items .footer-left-col .footer-column {
  color: var(--color-valge);
  height: 116px;
  gap: 4px;
}
footer .footer-content .footer-items .footer-left-col .footer-column .phone-grad {
  background: var(--BG_Grad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer .footer-content .footer-items .footer-left-col .footer-column .email-grad {
  background: var(--BG_Grad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1200px) {
  footer .footer-content .footer-items .footer-left-col {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
footer .footer-content .footer-items .footer-header {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: var(--color-valge);
}
footer .footer-content .footer-items .footer-right-col {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
footer .footer-content .footer-items .footer-right-col .newsletter {
  display: inline-flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
footer .footer-content .footer-items .footer-right-col .newsletter .form-box {
  display: inline-block;
  font-size: large;
  height: 72px;
  width: 288px;
  padding-left: 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 16px 16px 16px;
  background: var(--color-valge);
  box-shadow: var(--Outline);
}
footer .footer-content .footer-items .footer-right-col .newsletter .subscribe-btn {
  height: 74px;
  width: 133px;
  padding: 16px 24px;
  gap: 8px;
  border-radius: 0px 16px 16px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: var(--color-must);
  box-shadow: var(--Outline);
}
footer .footer-content .footer-items .footer-right-col .newsletter .subscribe-btn .sub-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  background: var(--BG_Grad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1200px) {
  footer .footer-content .footer-items .footer-right-col .newsletter {
    flex-direction: column;
    row-gap: 24px;
    align-items: center;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  footer .footer-content .footer-items {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -200px;
  }
}
footer .footer-content .Terms {
  display: inline-flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-top: 190px;
  justify-content: center;
  padding-right: 25px;
  opacity: 0.3;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  background: var(--color-valge);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 425px) {
  footer .footer-content .Terms {
    -moz-column-gap: 20px;
         column-gap: 20px;
    text-align: center;
    font-size: 14px;
    padding-right: 15px;
  }
}
footer .footer-content .footer-social {
  display: flex;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
}
footer .footer-content .footer-social img {
  height: 32px;
  width: auto;
}
@media (max-width: 390px) {
  footer .footer-content .footer-social img {
    height: 28px;
  }
}
footer .footer-content .big-ellipses {
  position: relative;
  bottom: 865px;
}
footer .footer-content .big-ellipses .circle1 {
  position: absolute;
  left: -201px;
  top: 777px;
  width: 495px;
  height: 495px;
  margin-right: 0px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 25em;
}
footer .footer-content .big-ellipses .circle2 {
  position: absolute;
  left: -369px;
  top: 635px;
  width: 779px;
  height: 779px;
  margin-right: 0px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 25em;
}
footer .footer-content .big-ellipses .circle3 {
  position: absolute;
  left: -343px;
  top: 635px;
  width: 779px;
  height: 779px;
  margin-right: 0px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 25em;
}
footer .footer-content .big-ellipses .circle4 {
  position: absolute;
  left: -318px;
  top: 635px;
  width: 779px;
  height: 779px;
  margin-right: 0px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 25em;
}
footer .small-ellipses {
  position: relative;
  top: 110px;
}
footer .small-ellipses .small-circle1 {
  position: absolute;
  right: -8px;
  bottom: 763px;
  width: 173px;
  height: 173px;
  margin-right: 0px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 25em;
}
footer .small-ellipses .small-circle2 {
  position: absolute;
  right: -66px;
  bottom: 714px;
  width: 273px;
  height: 272px;
  margin-right: 0px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 25em;
}
footer .small-ellipses .small-circle3 {
  position: absolute;
  right: -57px;
  bottom: 714px;
  width: 273px;
  height: 272px;
  margin-right: 0px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 25em;
}
footer .small-ellipses .small-circle4 {
  position: absolute;
  right: -48px;
  bottom: 714px;
  width: 273px;
  height: 272px;
  margin-right: 0px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 25em;
}
@media (max-width: 1200px) {
  footer .small-ellipses {
    bottom: -200px;
  }
}

:root {
  --BG_Grad: -webkit-linear-gradient(#FF9958, #F9FF72);
  --BG_Grad2: linear-gradient(0deg, #181818 0%, rgba(24, 24, 24, 0.70) 64.38%, rgba(24, 24, 24, 0.00) 100%);
  --BG_PageGrad: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
  --BShadow: 0px 8px 24px 0px rgba(75, 75, 75, 0.06), 0px 2px 4px 0px rgba(75, 75, 75, 0.02);
  --Outline: #181818 8px 8px 1px 0px, grey 8.5px 8.5px 0px 0px;
  --OutlineWhite: white 8px 8px 1px 0px, grey 8.5px 8.5px 0px 0px;
  --color-valge: #FFF;
  --color-must: #181818;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--color-must);
}
body ul {
  list-style-type: none;
}
body a {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */